<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nokia.feedbacktonokia"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name" >
<!--         android:theme="@android:style/Theme.Nokia" > -->
        <activity
            android:name=".NPSIntroActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NPSActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.nokia.feedbacktonokia.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />

                <data android:scheme="nps" />
                <data android:host="launch_feedbacktonokia" />
                <data android:pathPattern=".*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NokiaPrivacyPolicyActivity"
            android:label="@string/privacy_policy_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.nokia.feedbacktonokia.POLICY" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="nps" />
                <data android:host="launch_nokiaprivacypolicy" />
            </intent-filter>
        </activity>
        <receiver android:name=".NPSBootBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".NPSAlarmReceiver" />
        <receiver
            android:name=".NPSDateChangedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
